{
  margin: 0;
  padding: 0;

}

header
{
  background-image: url(Contact.jpg);
  margin: 0;
  padding: 0;
  height: 97vh;
  background-size: cover;
  background-position: center;
}

div.Contact
{
  position: relative;
  top: 100px;
  background-color: #D5E2E3;
  margin: 0 auto;
  text-align: center;
  width: 280px;
  color: #5B5F60;
  font-family: FreeMono, monospace;
}

h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 20px;
}


.main-nav :hover {
    background-color: lightgrey;
}

.main-nav
{
  float: center;
  list-style:none;
  margin-top:40px:
}

.main-nav li
{
  display: inline-grid;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 20px 48.28px;
  font-family: FreeMono, monospace;
  font-size: 22px;
}
